div, span {
    margin:15px;
    padding:10px;
    background-color: #eee;
  }
  .Pintaverde{
    border-style: solid;
    border-color: green;
  }
  .PintaNaranja{
    border-style: solid;
    border-color: orange;
  }
  .PintaRojo{
    border-style: solid;
    border-color: red;
  }